 *{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: #9e9a9a;
    line-height: 1.6;

}

  .container{
display: grid;
    grid-template-columns: repeat(4, 150px);
    background-color: #5a796f;
    justify-items: center;
    justify-content: space-around;
    align-items: stretch;
    margin: 15px;
  }

  .item-menu{
    padding: 20px;
    margin: 20px;
  }

  .item-cabeçalho{
    background-color: #5a796f;
    justify-items: center;
    padding: 50px;
    margin: 15px;
  }

  .item-conteudo{
    background-color: #5a796f;
    padding: 70px;
    margin: 15px;

  }

  .item-vagas{
    background-color: #5a796f;
    padding: 50px;
    margin: 15px;
  }